body {
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

h1 {
  color: #5d5d5d;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 2px #aaaaaa;
}

#prompt {
  border-radius: 25px;
  border: 2px solid #0056b3;
}

.btn-primary {
  width: 50%;
  padding: 10px 0px; /* パディングを小さくする */
  font-size: 1rem; /* フォントサイズを小さくする */
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #d4b7b7;
  display: block; /* ブロックレベル要素として扱う */
  margin: 0 auto; /* 上下のマージンは0、左右のマージンは自動で中央揃え */
}

.btn-primary:hover {
  background-color: #0069d9;
}

#generated-image {
  margin-top: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 512px; /* 画像の幅を指定 */
  height: 512px; /* 画像の高さを指定 */
  object-fit: cover; /* 画像のアスペクト比を保ちつつ、指定された寸法にフィットさせる */
}

/* レスポンシブデザイン用のメディアクエリ */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
    margin-top: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #prompt {
    font-size: 0.8rem;
  }

  .btn-primary {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }

  #generated-image {
    width: 100%; /* 画像の幅を画面幅に合わせる */
    height: auto; /* 画像の高さを自動調整 */
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.2rem;
  }

  .btn-primary {
    font-size: 0.7rem;
  }
}
